#variable "proxmox_api_url" {
#    description = "Proxmox API endpoint"
#    type = string
#    default = "https://<pve_ip>:<pve_port>/<pve_api_endpoint>"
#}
#variable "proxmox_user" {
#    description = "Proxmox API user, needs PVEDatastoreUser, PVEVMAdmin, PVETemplateUser #permissions"
#    type = string
#    sensitive = true
#    default = "<pve_api_user@pve>"
#}
#variable "proxmox_pass" {
#    description = "API user password"
#    sensitive = true
#    default = "<pve_api_pass>"
#}
#variable "proxmox_ignore_tls" {
#    description = "Disable TLS verification while connecting"
#    type = string
#    default = "false"
#}
#variable "proxmox_parallel" {
#    description = "Max simultaneous Proxmox processes"
#    type = number
#    default = 2
#}